
body {
    font-size: 16px;
}


:root {
    --main-width: 830px;
    --footer-height: 40px;
    /*--content-gap: 20px;*/
    /*--content: rgb(80, 80, 80);*/
    /*--hljs-bg: rgb(35, 35, 35);*/
    --hljs-bg: rgb(44, 44, 44);
    /*--code-bg: rgb(235, 235, 235);*/
    --code-bg: rgb(240, 240, 240);
    --code-bg-border: rgb(200, 200, 200);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --tag: rgb(235, 235, 235);

    --nav-width: 1300px;
    /*--nav-width: 1024px;*/
    --article-width: 650px;
    --toc-width: 400px;
}

.post-content blockquote {
    border-left-color: #8250df;
}

#scroll-progress {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 0%;
    height: 5px;
    background: blue;
    z-index: 10000;
}
